.app{
max-width: 500px;


margin: 5rem auto;
height: 675px;
}

.container {
  max-width: 500px;
  box-shadow: rgb(47, 47, 61) 0px 7px 29px 0px;


  border-top-right-radius: 25rem;
}
h1{
  margin-bottom: 1rem;
text-align: center;

}
p{
  font-weight: bold;
text-align: justify;
font-size: 20px;
color: black;
}


.login-container{

  display: flex;
  flex-direction: column;

}

.inputs-container {

  display: flex;
  flex-direction: column;

  gap: 1rem;
  align-items: center;
  margin-left: 2.5rem;




 

}
.inputs-container input {
  display: flex;
  flex-direction:column ;
  gap: 1rem;
  height: 40px;
  width: 300px;
  border: none;
  
margin: 1rem auto;

  box-shadow: rgb(196, 196, 221) 0px 7px 29px 0px;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid black;

  
}

.form-container{

  background-color:#ccc;
height: 652px;
  padding: 2rem;
  box-shadow: rgb(47, 47, 61) 0px 7px 29px 0px;
  border-top-left-radius:25rem;

}

.inputs-container .btn{
 
margin-top: .5rem;
margin-left: 6rem;
}

.btn {
  
  background-color: blue;
  font-weight: bold;
color: #fff;
opacity: .7;

cursor: pointer;
border-radius: 5px;
border: none;

max-width: 100px;
max-height:50px ;

transition: .8s;
opacity: .7;
}



.btn:hover {
  opacity: 1;
}
#checkbox {

display: flex;

padding: 0;

position: relative;
bottom: 1.5rem;

 
  

}
#checkbox input {
  height: 15px;
  width: 15px;
  display: flex;

margin-left: .1rem;
margin-top: 1rem;

}
#checkbox span {
  font-weight: bold;
font-size: 16px;
  text-transform: uppercase;
margin-right: 0;
position: relative;
right: 2.5rem;
margin-top: 1rem;


}
.inputs-container input ,#google  {
  margin-right: 3rem;

}

