#google {

    box-shadow: rgb(24, 24, 29) 0px 7px 29px 0px;
    max-width: 280px;
   max-height: 40px;
border-radius: 10px;
opacity: .5;
transition: .7s;

    }
    #google:hover {
        opacity: 1;
    }
    #google span {
   position: relative;
bottom: 1.4rem;
   font-weight: bold;
   right: .3rem;
 font-size: 17px;



    
    
    }
    #google img {
  height: 45px;
  width: 45px;
      margin: 0 auto;
    margin-bottom: .2rem;

    }
    .recovery-password{
        box-shadow: rgb(24, 24, 29) 0px 7px 29px 0px;
        width: 245px;
        height: 40px;
     border-radius: 10px;
    
    text-align: center;
 
 

    background-color: #fff;
    opacity: .5;
    transition: .7s;

    
    
    }
    .recovery-password span {
        font-weight: bold;
        position: relative;
        top: .6rem;
        color: blue;
    }
    
    .recovery-password:hover {
        opacity: 1;
    }
    #new-account{
       margin-top: 1rem;
    }
    #new-account{
         border: none;
        background: rgb(80, 102, 110);
        color: #fff;
        padding: .5rem;
        margin-top: 2rem;
     
        border-radius: 10px;
        font-weight: bold;
    
        transition: .5s;
        opacity: .7;
    cursor: pointer;
    width:245px;
    height: 40px;
    position: relative;
    bottom: 2rem;
    box-shadow: rgb(24, 24, 29) 0px 7px 29px 0px;
        }
        #new-account span{
        margin-top: .5rem;
        color: rgb(17, 14, 14);
            
            font-size: 15px;
            transition: .5s;
            padding: 19px;
         
        }
        #new-account:hover {
            opacity: 1;
         
        
        }
        #new-account span:hover {
            opacity: 1;
        color: #fff;
      
        
        }
        
        #new-account, .recovery-password ,#google {
            margin-bottom: 1rem;
        }
        #new-account, .recovery-password  {
            margin-right: 3rem;
        }
