.login-user{
    box-shadow: rgb(24, 24, 29) 0px 7px 29px 0px;
    width: 245px;
    height: 40px;
 border-radius: 10px;

text-align: center;


background-color: #fff;
opacity: .5;
transition: .7s;



}
.login-user span {
    font-weight: bold;
    position: relative;
    top: .6rem;
    color: blue;
}

.login-user:hover {
    opacity: 1;
}
